.divider__small {
    border-bottom: 2px solid #fca311;
    width: 170px;
    margin-bottom: 20px;
}     
.divider__medium {
    border-bottom: 2px solid #fca311;
    width: 220px;
    margin-bottom: 20px;
}
.divider__smaller {
    border-bottom: 2px solid #fca311;
    width: 150px;
    margin-bottom: 20px;
}
.divider__smallest {
    border-bottom: 2px solid #fca311;
    width: 50px;
    margin-bottom: 20px;
}