@media only screen and (min-width: 391px) {
    * {
        font-size: 15px;
    }
    .navbar__icon {
        display: none;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .aboutme__container {
            display: flex;
            justify-content: baseline;
    }
    .projects {
        display: flex;
        justify-content:baseline;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        .project__name {
            font-size: 1.2rem;
        }
        .project__icons {
            font-size: 1.5rem;
        }
    }
    .eachproject {
        margin: 10px;
    }
    h1 {
        font-size: 2rem;
    }
    .logo {
        font-size: 4rem;
    }
    .intro__job {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 15px;
    }
    h2 {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 390px) {
    .navbar__links {
        display: none;
    }
    * {
        font-size: 15px;
    }
    h1 {
        font-size: 2rem;
    }
    .logo {
        font-size: 2.8rem;
    }
    .intro__job {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 820px) {
    * {
        font-size: 1.15rem;
    }
    .navbar__icon {
        display: none;
    }
    body {
        padding: 10px;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .aboutme__container {
            display: flex;
            justify-content: baseline;
    }
    .projects {
        display: flex;
        justify-content:baseline;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        .project__name {
            font-size: 1.5rem;
        }
        .project__icons {
            font-size: 1rem;
        }
    }
    .eachproject {
        margin: 10px;
    }
    h1 {
        font-size: 2.2rem;
    }
    .logo {
        font-size: 3.1rem;
    }
    .intro__job {
        font-size: 2.9rem;
    }
}