@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media only screen and (min-width: 391px) {
  * {
    font-size: 15px;
  }
  .navbar__icon {
    display: none;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .aboutme__container {
    display: flex;
    justify-content: baseline;
  }
  .projects {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .projects .project__name {
    font-size: 1.2rem;
  }
  .projects .project__icons {
    font-size: 1.5rem;
  }
  .eachproject {
    margin: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  .logo {
    font-size: 4rem;
  }
  .intro__job {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 15px;
  }
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 390px) {
  .navbar__links {
    display: none;
  }
  * {
    font-size: 15px;
  }
  h1 {
    font-size: 2rem;
  }
  .logo {
    font-size: 2.8rem;
  }
  .intro__job {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 10px;
  }
}
@media only screen and (min-width: 820px) {
  * {
    font-size: 1.15rem;
  }
  .navbar__icon {
    display: none;
  }
  body {
    padding: 10px;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .aboutme__container {
    display: flex;
    justify-content: baseline;
  }
  .projects {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .projects .project__name {
    font-size: 1.5rem;
  }
  .projects .project__icons {
    font-size: 1rem;
  }
  .eachproject {
    margin: 10px;
  }
  h1 {
    font-size: 2.2rem;
  }
  .logo {
    font-size: 3.1rem;
  }
  .intro__job {
    font-size: 2.9rem;
  }
}
.divider__small {
  border-bottom: 2px solid #fca311;
  width: 170px;
  margin-bottom: 20px;
}

.divider__medium {
  border-bottom: 2px solid #fca311;
  width: 220px;
  margin-bottom: 20px;
}

.divider__smaller {
  border-bottom: 2px solid #fca311;
  width: 150px;
  margin-bottom: 20px;
}

.divider__smallest {
  border-bottom: 2px solid #fca311;
  width: 50px;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #B7B7B7;
  font-family: "Montserrat", Arial;
}

body {
  background-color: #14213d;
  color: #CEB7B3;
}
body .footer {
  margin: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
body .footer img {
  width: 30px;
  height: 30px;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: auto;
  height: auto;
  padding: 10px;
  margin-bottom: 30px;
}
body nav .logo {
  color: #fca311;
}
body nav .logo__firstname {
  color: #fca311;
}
body nav .navbar__icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
body main {
  margin: 10px;
  border: 2px;
}
body main .main__intro {
  margin-bottom: 50px;
  padding: 5px;
}
body main .main__intro .h1__nopadding {
  padding-bottom: 0;
}
body main .main__intro p {
  text-align: justify;
  padding-bottom: 20px;
}
body main .main__intro h1 {
  padding-bottom: 30px;
}
body main .main__intro button {
  color: #14213d;
  background-color: #fca311;
}
body main .main__skills {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
}
body main .skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #56494C;
}
body main .skill p {
  width: 75%;
}
body main .skill img {
  width: 17px;
  height: auto;
}
body main .main__aboutme {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
}
body main .main__aboutme .aboutme__container .image {
  display: flex;
  justify-content: center;
}
body main .main__aboutme .aboutme__container img {
  padding: 5px;
  max-width: 358px;
  max-height: 474px;
  width: 90vw;
  height: auto;
}
body main .main__aboutme .aboutme__container p {
  text-align: justify;
}
body main .main__projects {
  padding: 5px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}
body main .projects h2 {
  text-align: left;
  color: #fca311;
}
body main .projects .eachproject {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}
body main .projects .eachproject .project__picture {
  margin-bottom: 10px;
  width: 350px;
  height: 200px;
  background-color: #56494C;
}
body main .projects .eachproject .project__icons {
  display: flex;
  justify-content: left;
}
body main .projects .eachproject .project__icons h3 {
  margin: 5px;
  border: 1px solid #CEB7B3;
}/*# sourceMappingURL=main.css.map */