$background-color: #333232;
$navbackground-color: #56494C;
$primary-color: #F7B2AD;
$secondary-color: #CEB7B3;
$third-color: #B7B7B7;
$forth-color: #9ABCA7;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    color: $secondary-color;
    .footer {
        margin: 10px;
        text-align: center;
        img {
            width: 30px;
            height: 30px;
        }
        .footer__links {
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                margin: 5px;
            }
        }
    }
    nav {
        background-color: $navbackground-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 4rem;
        padding: 10px;
        .logo {
            font-size: 2.5rem;
            color: $secondary-color;
        }
        .navbar__links {
            display: none;
        }
        .navbar__icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
    main {
        margin: 10px;
        border: 2px;
        h1 {
            font-size: 2rem;
        }
        .main__intro {
            margin-bottom: 10px;
            padding: 5px;
            h1, p {
                padding-bottom: 20px;
            }
            p {
                text-align: justify;
            }
        }
        .main__skills {
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 5px;
        }
        .main__aboutme {
            margin-bottom: 10px;
            margin-top: 10px;
            padding: 5px;
            .aboutme__container {
                p, img {
                    padding: 5px;
                    width: 360px;
                    height: auto;
                }
                p {
                    text-align: justify;
                }
            }
        }
        .main__projects {
            padding: 5px;
            text-align: left;
            margin-bottom: 10px;
            margin-top: 10px;
            }
            .project__label {
                margin-bottom: 10px;
            }
            .projects {
                h2 {
                font-size: 15px;
                text-align: left;  
                }
                .eachproject {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                margin-bottom: 20px;
                .project__picture {
                margin-bottom: 10px;
                width: 360px;
                height: 200px;
                background-color: $navbackground-color
                }          
                .project__icons {
                display: flex;
                justify-content: left;
                h3 {
                    font-size: 10px;
                    margin: 5px;
                    border: 1px solid $secondary-color;
                }
            }
            }
            }            
            }
        }