* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #B7B7B7;
}

body {
  background-color: #14213d;
  color: #CEB7B3;
}
body .footer {
  margin: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body .footer img {
  width: 30px;
  height: 30px;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: auto;
  height: 4rem;
  padding: 10px;
  margin-bottom: 60px;
}
body nav .logo {
  font-size: 3rem;
  color: #fca311;
}
body nav .logo__firstname {
  color: #fca311;
}
body nav .navbar__icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
body main {
  margin: 10px;
  border: 2px;
}
body main .main__intro {
  margin-bottom: 60px;
  padding: 5px;
}
body main .main__intro .h1__nopadding {
  padding-bottom: 0;
}
body main .main__intro p {
  text-align: justify;
  padding-bottom: 20px;
}
body main .main__intro h1 {
  padding-bottom: 30px;
}
body main .main__intro button {
  color: #14213d;
  background-color: #fca311;
}
body main .main__skills {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
}
body main .main__skills ul {
  margin: 10px;
}
body main .main__aboutme {
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 5px;
}
body main .main__aboutme .aboutme__container .image {
  display: flex;
  justify-content: center;
}
body main .main__aboutme .aboutme__container img {
  padding: 5px;
  max-width: 358px;
  max-height: auto;
  width: 90vw;
  height: auto;
}
body main .main__aboutme .aboutme__container p {
  text-align: justify;
}
body main .main__projects {
  padding: 5px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}
body main .projects h2 {
  text-align: left;
  color: #fca311;
}
body main .projects .eachproject {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
}
body main .projects .eachproject .project__picture {
  margin-bottom: 10px;
  width: 360px;
  height: 200px;
  background-color: #56494C;
}
body main .projects .eachproject .project__icons {
  display: flex;
  justify-content: left;
}
body main .projects .eachproject .project__icons h3 {
  margin: 5px;
  border: 1px solid #CEB7B3;
}

.divider__small {
  border-bottom: 2px solid #fca311;
  width: 170px;
  margin-bottom: 20px;
}

.divider__medium {
  border-bottom: 2px solid #fca311;
  width: 220px;
  margin-bottom: 20px;
}

.divider__smaller {
  border-bottom: 2px solid #fca311;
  width: 150px;
  margin-bottom: 20px;
}

.divider__smallest {
  border-bottom: 2px solid #fca311;
  width: 50px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 391px) {
  * {
    font-size: 1.1rem;
  }
  .navbar__icon {
    display: none;
  }
  a {
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .aboutme__container {
    display: flex;
    justify-content: baseline;
  }
  .projects {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
  .projects .project__name {
    font-size: 2rem;
  }
  .projects .project__icons {
    font-size: 1.5rem;
  }
  .eachproject {
    margin: 10px;
  }
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 390px) {
  .navbar__links {
    display: none;
  }
  * {
    font-size: 15px;
  }
  h1 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */