$background-color: #14213d;
$navbackground-color: #56494C;
$primary-color: #fca311;
$secondary-color: #CEB7B3;
$third-color: #B7B7B7;
$forth-color: #9ABCA7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $third-color;
}

body {
    background-color: $background-color;
    color: $secondary-color;
    .footer {
        margin: 10px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: auto;
        height: 4rem;
        padding: 10px;
        margin-bottom: 60px;
        .logo {
            font-size: 3rem;
            color: $primary-color;
        }
        .logo__firstname {
            color: $primary-color
        }
        .navbar__icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
    main {
        margin: 10px;
        border: 2px;
        .main__intro {
            margin-bottom: 60px;
            padding: 5px;
            .h1__nopadding {
                padding-bottom: 0;
            }
            p {
                text-align: justify;
                padding-bottom: 20px;
            }
            h1 {
                padding-bottom: 30px;
            }
            button {
                color: $background-color;
                background-color: $primary-color;
            }
        }
        .main__skills {
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 5px;
            ul {
                margin: 10px;
            }
        }
        .main__aboutme {
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 5px;
            .aboutme__container {
                .image {
                    display: flex;
                    justify-content: center;
                }
                img {
                    padding: 5px;
                    max-width: 358px;
                    max-height: auto;
                    width: 90vw;
                    height: auto;
                }
                p {
                    text-align: justify;
                }
            }
        }
        .main__projects {
            padding: 5px;
            text-align: left;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .projects {
                h2 {
                text-align: left;  
                color: $primary-color;
                }
                .eachproject {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                margin-bottom: 20px;
                .project__picture {
                margin-bottom: 10px;
                width: 360px;
                height: 200px;
                background-color: $navbackground-color
                }          
                .project__icons {
                display: flex;
                justify-content: left;
                h3 {
                    margin: 5px;
                    border: 1px solid $secondary-color;
                }
            }
            }
            }            
            }
        }

        .divider__small {
            border-bottom: 2px solid #fca311;
            width: 170px;
            margin-bottom: 20px;
        }     
        .divider__medium {
            border-bottom: 2px solid #fca311;
            width: 220px;
            margin-bottom: 20px;
        }
        .divider__smaller {
            border-bottom: 2px solid #fca311;
            width: 150px;
            margin-bottom: 20px;
        }
        .divider__smallest {
            border-bottom: 2px solid #fca311;
            width: 50px;
            margin-bottom: 20px;
        }

@media only screen and (min-width: 391px) {
    * {
        font-size: 1.1rem;
    }
    .navbar__icon {
        display: none;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 20px;
    }
    .aboutme__container {
            display: flex;
            justify-content: baseline;
    }
    .projects {
        display: flex;
        justify-content:baseline;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        .project__name {
            font-size: 2rem;
        }
        .project__icons {
            font-size: 1.5rem;
        }
    }
    .eachproject {
        margin: 10px;
    }
    h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 390px) {
    .navbar__links {
        display: none;
    }
    * {
        font-size: 15px;
    }
    h1 {
        font-size: 3rem;
    }
}
