@use "./_variables.scss" as *;
@use "./_media-queries.scss" as *;
@use "./_dividers.scss" as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $third-color;
    font-family: $secondary-font;
}
body {
    background-color: $background-color;
    color: $secondary-color;
    .footer {
        margin: 10px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        img {
            width: 30px;
            height: 30px;
        }
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: auto;
        height: auto;
        padding: 10px;
        margin-bottom: 30px;
        .logo {
            color: $primary-color;
        }
        .logo__firstname {
            color: $primary-color
        }
        .navbar__icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }
    main {
        margin: 10px;
        border: 2px;
        .main__intro {
            margin-bottom: 50px;
            padding: 5px;
            .h1__nopadding {
                padding-bottom: 0;
            }
            p {
                text-align: justify;
                padding-bottom: 20px;
            }
            h1 {
                padding-bottom: 30px;
            }
            button {
                color: $background-color;
                background-color: $primary-color;
            }
        }
        .main__skills {
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 5px;
            }
            .skill {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid $navbackground-color;
                padding: 5px;
                p {
                    width: 75%;
                }
                img {
                    width: 17px;
                    height: auto;
                }
            }
        .main__aboutme {
            margin-bottom: 30px;
            margin-top: 30px;
            padding: 5px;
            .aboutme__container {
                .image {
                    display: flex;
                    justify-content: center;
                }
                img {
                    padding: 5px;
                    max-width: 358px;
                    max-height: 474px;
                    width: 90vw;
                    height: auto;
                }
                p {
                    text-align: justify;
                }
                .aboutme__content {
                    border-bottom: 2px solid $navbackground-color;
                    padding: 5px;
                    h2 {
                        margin-bottom: 10px;
                        text-decoration: underline;
                        color: $primary-color;
                    }
                }
            }
        }
        .main__projects {
            padding: 5px;
            text-align: left;
            margin-bottom: 30px;
            margin-top: 30px;
            }
            .projects {
                h2 {
                text-align: left;  
                color: $primary-color;
                text-decoration: underline;
                }
                .eachproject {
                display: flex;
                flex-direction: column;
                justify-content: left;
                align-items: left;
                margin-bottom: 20px;
                .project__picture {
                margin-bottom: 10px;
                width: 350px;
                height: 200px;
                background-color: $navbackground-color
                }          
                .project__icons {
                display: flex;
                justify-content: left;
                h3 {
                    margin: 5px;
                    border: 1px solid $secondary-color;
                }
            }
            }
            }            
            }
        }

